.productList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardGrid {
  display: inline-grid;
  grid-template-rows: repeat(auto, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.card {
  min-width: 240px;
  margin: 0;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  border: 1px solid #ccc;
  border-radius: 16px;
  overflow: hidden;
}

.card * {
  margin: 0;
}

.productThumb {
  width: 100%;
  aspect-ratio: 1/1;
  background: #f6f6f6;
  border-bottom: 1px solid #eee;
}

.contents {
  box-sizing: border-box;
  padding: 16px 16px 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cardHeader {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.card h2 {
  font-size: 20px;
  font-weight: 700;
  color: #222;
}

.brand {
  font-size: 12px;
  font-weight: 500;
  color: #888;
}

.price {
  font-size: 16px;
  font-weight: 500;
  color: #444;
}
